@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", cursive;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  background-image: url("../images/skyline.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; /* Ensure it stays in the background */
  /* filter: sepia(10%); */
  filter: contrast(1.15) saturate(1.1);
}

header {
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
  justify-items: stretch; /* Stretch items to fill the cell */

  font-size: 2rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 0.5rem 0;
  color: white;
}

header > nav {
  justify-self: center;
}

header > nav > button {
  padding: 1rem;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  color: inherit;
}

header > nav > button:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #a0a0a0;
  cursor: pointer;
}

header > nav > button.active {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: white;
  cursor: pointer;
}

#booking {
  justify-self: end;
  padding-right: 2rem;
}

#logo {
  justify-self: start;
  padding-left: 2rem;
}

#content {
  margin-top: 6rem;
  margin-bottom: 6rem;
  z-index: 1;
  color: white;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 10px;

  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}

#home,
#about,
#menu {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content.fade-in {
  display: flex !important;
  opacity: 1 !important;
}

#home > h1,
#about h1,
#menu h1 {
  font-style: italic;
}

h1,
h2 {
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

#home > .text,
section {
  max-width: 30rem;
  align-content: center;
  line-height: 1.4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-size: 0.8rem;
}

footer > a {
  font-size: 1.5rem;
  color: inherit;
  transition: all 0.2s ease;
  opacity: 1;
}

footer > a:visited {
  color: inherit;
}

footer > a:hover {
  transform: scale(1.2);
}
